section{
  background-color: #aaa;
  max-width: 960px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card{
  background-color: #faa;
  padding: 24px;
}

.card-img-wrap{
  position: relative;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

/* 偽元素 */
/* .card-img-wrap::before{
  content: "";
  background-image: url(../images/cat.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  top: 0;
  transition-property: all;
  transition-duration: 0.5s;
}

.card-img-wrap::after{
  content: "跳樓大拍賣";
  position: absolute;
  bottom: -40px;
  width: 100%;
  background-color: #afa;
  padding: 8px 0;
  text-align: center;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.card-img-wrap:hover::before{
  left: 0;
}

.card-img-wrap:hover::after{
  bottom: 0;
} */

.card-img-wrap:hover .card-img-2{
  left: 0;
}

.card-img-wrap:hover .hint{
  bottom: 0;
}

.card-img-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-img{
  /* width: 100%; */
  /* height: 100%; */
  /* aspect-ratio: 4 / 3; */
  /* object-fit: cover; */
}

.card-img-2{
  position: absolute;
  left: 100%;
  top: 0;
  /* width: 100%; */
  /* height: 100%; */
  /* aspect-ratio: 4 / 3; */
  /* object-fit: cover; */
  transition-property: all;
  transition-duration: 0.5s;
}

.hint{
  position: absolute;
  /* top: 100%; */
  bottom: -40px;
  width: 100%;
  background-color: #afa;
  padding: 8px 0;
  text-align: center;
  transition-property: all;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

.card-title{
  margin: 16px 0;
  font-size: 24px;
  font-weight: 700;
}