section{
  margin: 100px;
}

.supper-deals{
  margin: 0;
}

.deals{
  margin-bottom: 20px;
}

.deals, .products{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.deal-card{
  height: 200px;
  background-color: #aff;
}

/* 第二張以後要隱藏 */
.deal-card:nth-of-type(n+2){
  display: none;
}

.product-card{
  height: 300px;
  background-color: #ffa;
}

@media (min-width: 768px) {
  /* 第二張以前要顯示 */
  .deal-card:nth-of-type(-n+2){
    display: block;
  }

  .deals{
    grid-template-columns: repeat(2, 1fr);
  }

  .products{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .deal-card:nth-of-type(3){
    display: block;
  }

  .deals{
    grid-template-columns: repeat(3, 1fr);
  }
}

.aa{
  width: 300px;
  height: 300px;
  background-color: #ada;
}

.pinkoi-cards{
  max-width: 1200px;
  margin: 100px auto;
  background-color: #aaa;
}

.card-wrap{
  width: 300px;
}

.img-wrap{
  padding-bottom: 56.25%;
  position: relative;
}

.img-wrap img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card{
  float: left;
  background-color: #aff;
  /* width: 20%; */
  /* width: calc(20% - 8px); */
  width: calc((100% - 40px) / 5);
  height: 300px;
}

.card + .card{
  margin-left: 10px;
}

.card:nth-of-type(odd){
  background-color: #aaf;
}


.box-wrap{
  /* width: 1000px; */
  max-width: 960px;
  width: 80%;
  margin: 100px auto;
}

.box{
  /* width: 490px; */
  width: calc(50% - 10px);
  height: 400px;
}

.box:first-of-type{
  background-color: #faf;
  float: left;
  margin-right: 20px;
}

.box:nth-of-type(2){
  background-color: #afa;
  float: right;
}

.clear{
  clear: both;
}

/* @media screen and (width < 1024px) {
  .aa{
    background-color: #faa;
  }
} */

/* @media screen and (max-width: 1023px) {
  .aa{
    background-color: #faa;
  }
} */

/* @media screen and (width <= 1023px) {
  .aa{
    background-color: #faa;
  }
}

@media (width < 768px) {
  .aa{
    background-color: #aae4ff;
  }
} */

/*
@media (min-width: 768px) and (max-width: 1023px) {
  .aa{
    background-color: #aae4ff;
  }
}
*/

/* @media (768px <= width < 1024px) {
  .aa{
    background-color: #aae4ff;
  }
} */

/* 我預期：手機綠色，平板粉色，電腦藍色
實際：手機綠色，平板粉色，電腦粉色 */
/* @media (min-width: 768px) {
  .aa{
    background-color: #ffaad5;
  }
}

@media (min-width: 1024px) {
  .aa{
    background-color: #aae4ff;
  }
} */

@media (max-width: 1023px) {
  .aa{
    background-color: #aae4ff;
  }
}

@media (max-width: 767px) {
  .aa{
    background-color: #ffaad5;
  }
}
