section{
  margin: 100px auto;
}

ul{
  background-color: #aaa;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

li{
  width: 100px;
  height: 100px;
  background-color: #ffa;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  line-height: 100px;
}

.item13{
  background-color: red;
  position: relative;
  left: 80px;
  /* bottom: 80px; */
  /* z-index: 2; */
}

.item14{
  z-index: 1;
  opacity: .5;
}